/*==================================================
                OFFER STACK
==================================================*/

.offer-stack-section{
    position: relative;
    padding: 20px 0 500px;
    background: #f7f9fc;
    overflow: visible;
}

.offer-stack-heading{
    width: min(850px,90%);
    margin: 0 auto 80px;
    text-align: center;
}

.offer-stack-heading span{
    display: inline-block;
    color: #0D6EFD;
    font-size: 52px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.offer-stack-heading h2{
    font-size: 30px;
    font-weight: 800;
    color: #0d1b2a;
    margin-bottom: 20px;
}

.offer-stack-heading p{
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
}


.stack-container{
    width: min(1050px,90%);
    margin: auto;
     padding-bottom:0;
}

.stack-card-wrapper {
    width: 100%;
    perspective: 1000px;
    margin-bottom: 60px;
}

.stack-card-wrapper:last-child {
    margin-bottom: 0;
}

.stack-card{

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 60px;

    width: 100%;
    height: 380px;

    padding:35px 40px;

    /* margin-bottom: 80px; */

    background: #fff;

    border-radius: 28px;

    box-shadow:
        0 20px 60px rgba(0,0,0,.08);

}

.stack-image{

    width:38%;
    height:320px;

    overflow:hidden;
    border-radius:22px;

}

.stack-image img{

    width:100%;
    height:100%;

    object-fit:cover;

    transition:.5s;

}

.stack-card:hover img{

    transform:scale(1.05);

}

.stack-content{

    width:58%;

}

.number{

    width:64px;
    height:64px;

    border-radius:50%;

    background:#0D6EFD;

    color:#fff;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:700;
    font-size:20px;

    margin-bottom:25px;

}

.stack-content h3{

    font-size:34px;

    font-weight:700;

    color:#091E3E;

    margin-bottom:20px;

}

.stack-content p{

    color:#6c757d;

    font-size:18px;

    line-height:1.9;

}

/* =====================================
        MOBILE RESPONSIVE
======================================*/

@media (max-width:768px){

.offer-stack-section{
    padding:60px 0 80px;
}

.offer-stack-heading{
    width:92%;
    margin-bottom:45px;
}

.offer-stack-heading span{
    font-size:34px;
    letter-spacing:2px;
}

.offer-stack-heading h2{
    font-size:28px;
}

.offer-stack-heading p{
    font-size:16px;
    line-height:1.7;
}

.stack-container{
    width:92%;
}

.stack-card{

    flex-direction:column;

    justify-content:flex-start;

    align-items:center;

    gap:25px;

    height:auto;

    padding:25px;

    border-radius:22px;

}

.stack-image{

    width:100%;

    height:220px;

    border-radius:18px;

}

.stack-content{

    width:100%;

    text-align:center;

}

.number{

    width:55px;

    height:55px;

    font-size:18px;

    margin:0 auto 18px;

}

.stack-content h3{

    font-size:28px;

    margin-bottom:15px;

}

.stack-content p{

    font-size:15px;

    line-height:1.8;

}

}

@media (max-width:768px){

    .purpose-section{
        margin-top:150px;
    }

}

@media (max-width:768px){

    .offer-stack-section{
        padding-bottom:260px;
    }

}

@media (max-width:768px){

    .stack-card-wrapper{
        margin-bottom:100px;
    }

    .stack-card-wrapper:last-child{
        margin-bottom:300px;
    }

}